/* CSS RESET */
*{
  margin: 0;
  padding: 0;
}

/* GOOGLE FONTS */
body{
  font-family: 'Open Sans', sans-serif;
}


/* NAV SECTION */

nav{
  /* 
  padding - the space between the content of the element and its border
  padding is a shorthand for padding-top/bottom/left/right */
  padding: .8rem;
  /* margin - psace between the elements and outside their border */
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
  list-style-type: none;
}

/* 
if you want to increase/decrease the space of the content to the border, manage the padding
if you want to manage the spacing in between the elements, increase/decrease the margin of the elements */

/* we can also select multiple combination selectors with the use of comma */
nav .nav-logo, nav .nav{
  /* 
    creates space aroudn the element and ou  
  */
  margin: .5rem;
  /* 
    li are naturally block elements, but with the use of display: inline;, we were able to transform the li elements to become inline so that they will be displayed beside each other.  
  */
  display: inline;
}

/* INFO SECTION */
/* 
  when we have diff measurements for each side, the measurement for each side can be used (padding-left/right/top/bottom)
*/
#intro{
  /* % value is used for the padding/margin to use the relative measurements of the screen of the user */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  /*shorthand for padding with the same right and left measurement*/
  /*padding: 2rem 10% 3rem;*/
  /*4 values for the shorthand would be clockwise direction starting from the top*/
  /*padding: 2em 10% 15% rem;*/
  text-align: center;
}

.header{
  text-align: center;
}

#intro h2, #intro p{
  margin-bottom: 1rem;
}

#intro button{
  color: white;
  font-weight: bold;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  padding: 1rem;
}

/*  SUCCEED INFO */
#succeed-info{
  padding: 2rem 10% 3rem;
}

#succeed-info h2{
  /* to create a space bet the header and the card */
  margin-bottom: 1rem;
}

#succeed-info h3{
  text-align: center;
  /* creates space bet the h3 and the p element in each card */
  margin-bottom: 1rem;
}

#succeed-info .card{
  /* allows the card to appear next to each other */
  /* 
    inline - consuming only the content width of the element
    block - consuming the full width of the element 
    
    inline-block - works as inline for its siblings, but works as block element for the elements outside its parent element
    */
  display: inline-block;
  /*align the elements at the top of their container */
  vertical-align: top;
  /* set the min height in case the content does not fit the card */
  min-height: 175px;
  width: 30%;
  margin-left: .5rem;
  margin-right: .5rem;
}
/* FOOTER SECTION */
footer{
  padding: .7rem;
}

footer span{
  margin-left: .5rem;
  margin-right: .5rem;
  /* shorthand: margin: 0 .5rem */
}

/* FOOTER SECTION */
footer{
  padding: .7rem;
}

footer span{
  margin-left: .5rem;
  margin-right: .5rem;
  /* shorthand: margin: 0 .5rem */
}


/* ------- Activity---- */

/*  pre-footer section */
#pre-footer{
  padding: 1rem;
  background-color: #002540;
  color: white;
}

#pre-footer h3{
  margin-bottom: .5rem;
  font-weight: bold;
}

#pre-footer p{
  margin-bottom: .2rem;
}

/* div tags to align the elements horizontally */
#pre-footer div{
  display: inline-block;
}

/* all elements inside the div tags to create space between them vertically */
#pre-footer .items{
  vertical-align: top;
  /* margin-left: .5rem; */
  margin-right: .5rem;
  margin-bottom: .2rem;
  width: 20%;
  /* min-height: 100px; */
}